.box {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.295)  ;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
.productimg{
  width: 200px;
  height: 200px;
}
.producttitle{
  font-size: large;
}